<% if @daycare.additionals.any? %>
  <% @additionals.each do |additional| %>
    <div class="row daycare-profile-section">
      <div class="daycare-profile-section-content">
        <div class="daycare-profile-header">
          <%= additional.title %>
        </div>
        <% if additional.image_file_name != nil %>
          <div class="daycare-profile-media">
            <%= image_tag additional.image.url(:medium) %>
          </div>
        <% end %>
        <p>
          <%= simple_format h additional.content %>
        </p>
      </div>
    </div>
  <% end %>
<% end %>
