<div class="container main-nav-content">
  <div class="row">
      <div class="align-center">
        <h2>Additional Information</h2>
        10 of 10
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <p>
            Is there anything else you want to add that we didn't cover? Do you want to include information on your philosophy? Do you have a great reading program? Tell parents about them. Be sure to include photos!
          </p>
          <p>
            Add as many sections as you want. When you're all done, click on the "Preview My Page" button below.
          </p>
          <br>

          <span id="additional-edit-list">
            <%= render 'additionals/additional_list' %>
          </span>

          <%= render 'form' %>

        </li>
      </ul>
      <%= link_to 'Back to Edit Page', edit_user_daycare_path(current_user, current_user.daycare) %>
  </div>
</div>
