<div class="container">
  <div class="main-nav-content">
      <div class="align-center">
        <h2>Summary</h2>
        5 of 10
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <p>
            Write a short summary about your daycare. We'll display this as a heading on your page. Do you specialize in infants? Does your philosophy in raising children set you apart from other daycares? Show off what makes your daycare great.
          </p><br>

          <%= render 'form' %>

        </li>
      </ul>
      <%= link_to 'Back to Edit Page', edit_user_daycare_path(current_user, current_user.daycare) %>
  </div>
</div>
