<div class="navbar navbar-fixed-top navbar-sub" role="navigation" data-0="line-height:100px; height:100px; background-color:rgba(0,0,0,0.3);" data-300="line-height:60px; height:60px; background-color:rgba(0,0,0,0.3);">
   <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="fa fa-bars color-white"></span>
      </button>
      <h1><a class="navbar-brand" href="/" data-0="line-height:90px;" data-300="line-height:50px;"><span class="name">Your Daycare Name</span></a></h1>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav" data-0="margin-top:20px;" data-300="margin-top:5px;">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="#section-about">About</a></li>
        <li><a href="#section-works">Portfolio</a></li>
        <li><a href="#section-contact">Contact</a></li>
      </ul>
    </div><!--/.navbar-collapse -->
  </div>
</div>
