<div class="container main-nav-content">
  <div class="row">
      <div class="align-center">
        <h2>Programs</h2>
        7 of 10
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <p>
            What programs do you have available? Do you have an infant program? Pre-school? Fill out the details and write a description of what each program has to offer. Be sure to include pictures!
          </p><br>

          <span id="program-add-list">
            <%= render 'programs/program_list' %>
          </span>

          <%= render 'form' %>

        </li>
      </ul>
      <%= link_to 'Back to Edit Page', edit_user_daycare_path(current_user, current_user.daycare) %>
  </div>
</div>
