<div class="main-nav-content" style="margin-top: 200px">
  <div class="col-md-8 col-xs-offset-2">
    <ul class="list-group">
      <li class="list-group-item">
        <p>
          We sent a link to reset your password at <%= @email %>. Please follow the instructions in the email.
        </p>
      </li>
    </ul>
  </div>
</div>
