<div class="main-nav-content" style="margin-top: 200px">
  <div class="col-md-8 col-xs-offset-2">
    <ul class="list-group">
      <li class="list-group-item">
        <p>
          Thanks for signing up! We sent you a confirmation email at <%= @email %>. Please check your email and confirm your account.
        </p>
      </li>
    </ul>
  </div>
</div>
