<% if @address.id != nil %>
  <div id="daycare-profile-address">
    <h3>Address</h3>
    <p><%= @address.street %></p>
    <p><%= @address.city %> <%= @address.state %> <%= @address.zip %></p>
  </div>
<% end %>
