<% if @daycare.additionals.any? %>
  <div id="daycare-profile-additional">
      <% @additionals.each do |additional| %>
    <div class="daycare-profile-header">
      <hr>
      <h1><%= additional.title %></h1>
    </div>

    <div class="row">
        <div class="daycare-profile-additional">
            <% if additional.image_file_name != nil %>
            <div class="image-additional-info">
              <%= image_tag additional.image.url(:small) %>
            </div>
            <% end %>
            <p>
              <%= simple_format h additional.content %>
            </p>
        </div>

    </div>
      <% end %>
  </div>
<% end %>
