<% if @daycare.certifications.any? %>
  <div id="daycare-profile-certification">
    <div class="daycare-profile-header">
      <hr>
      <h1>Certifications</h1>
    </div>

    <div class="row">
      <% @certifications.each do |certification| %>
      <div class="col-md-8 col-md-offset-2">
        <div class="media daycare-profile-certification">
          <div class="media-left">
            <%= image_tag certification.image.url(:small) %>
          </div>
          <div class="media-body">
            <h3 class="media-content-header"><%= certification.name %></h3>
            <p>
              <%= simple_format h certification.description %>
            </p>
          </div>
        </div>
      </div>

      <% end %>
    </div>
  </div>
<% end %>
