<div class="container">
  <div class="main-nav-content">
      <div class="align-center">
        <h2>Daycare Name</h2>
        1 of 10
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <p>
            We'll walk you through all the steps to create your page. You don't have to fill everything in. Skip any step and we'll only include the information you give us.
          </p>
          <p>
            Enter the name of your daycare and the URL you want to use for your web page.
          </p><br>

          <div id="wizard-name-form">
            <%= render "form" %>
          </div>
        </li>
      </ul>
      <%= link_to 'Back to Edit Page', edit_user_daycare_path(current_user, current_user.daycare) %>
  </div>
</div>
