
<section class="featured">
	<div class="container">
		<div class="mar-top70">
			<div class="align-center">
				<h2 class="header">Meet Beebsy</h3>
        <img src="<%= asset_path('daycares.png') %>" alt="daycares">
        <p>

        <h3 class="tagline">
          <br>He was my daughter's favorite toy when she was a baby.<br>
          He helped take care of her, and it's only fair that he gets his own website.
        </h3>
      </p>
			</div>
		</div>
	</div>
</section>

		<!-- services -->
<section id="section-services" class="section pad-bot30 bg-white">
	<div class="container">
		<div class="row mar-bot40">
      <div class="col-md-8 col-md-offset-2">
        <div class="mar-bot40">
          <h2>The Mission</h2>
          <p>
            For now, the "We" in Beebsy is just me. I'm a mom. My daycare searching experience culminated into the creation of Beebsy, and the mission is threefold.
          </p>
          <h4 class="mar-top20">Mission #1</h4>
          <p>
            Nowadays, a business doesn't exist unless it has "web presence", and I found that many daycares don't even have websites, or they have outdated ones. Beebsy provides an easily maintainable site at no cost where parents can easily find them. It's a free site and free advertising so daycares can focus on the more important things.
          </p>
          <h4 class="mar-top20">Mission #2</h4>
          <p>
            I want to make it easier for parents to find a daycare, whether it's providing information, support, or just pointing them in the right direction.
          </p>
          <h4 class="mar-top20">Mission #3</h4>
          <p>
            This one's pretty simple. I want to do something I enjoy, and I enjoy programming and helping people. This works out perfectly.
          </p>
        </div>
        <h2>The Story</h2>
        <p>
          Searching for a daycare was one of those stress inducing, keep you up at night, and when you do manage to fall asleep, the baby wakes up crying, type of experience. At least that's how it was for me. I might have been overthinking it... <i>but was I though?</i> I was about to hand my daughter's care over to someone else, at a time when her brain development was at a crucial point and could potentially have effects lasting into adulthood. Overthinking? I think not.
        </p>
        <p>
          When I started looking for a daycare, I had no idea where to start and what to look for, and I couldn't believe how scattered the resources were. I had to jump through hoops to get all the information I needed. After months of research, looking at over 20 different daycares, paying an unrefundable enrollment fee to reserve a "coveted" spot, then deciding it wasn't the right place for my daughter, I finally found a perfect, but highly sought after daycare. I had to make many phone calls and write heartfelt emails to get my daughter in. It was a harrowing experience.
        </p>
      </div>
		</div>
	</div>
</section>
