
<section class="featured">
	<div class="container">
		<div class="mar-top70">
			<div class="align-center">
				<h2 class="header">Meet Beebsy</h3>
        <img src="<%= asset_path('daycares.png') %>" alt="daycares">
        <p>

        <h3 class="tagline">
          <br>He was my daughter's favorite toy when she was a baby.<br>
          He helped take care of her, and it's only fair that he gets his own website.
        </h3>
      </p>
			</div>
		</div>
	</div>
</section>

		<!-- services -->
<section id="section-services" class="section pad-bot30 bg-white">
	<div class="container">
		<div class="row mar-bot40">
      <div class="col-md-8 col-md-offset-2">
  			<p>
  				For now, the "We" in Beebsy is just me. I'm a mom. When my family moved to Portland, I had the hardest time finding a daycare for my daughter. I couldn't believe how scattered all the resources were.
        </p>
        <p>
          I also found that a lot of daycares either didn't have a website or had outdated ones. Nowadays, a business doesn't exist unless they have a website. 
  			</p>
      </div>
		</div>
	</div>
</section>

<a href="/yourdaycare">
	<section class="module parallax parallax-2">
		<div class="container">
			<div class="align-center pad-top40 pad-bot40">
				<blockquote class="bigquote color-white">Daycares</blockquote>
				<blockquote class="bigquote color-white">Click here to see what your page could look like</blockquote>
			</div>
		</div>
	</section>
</a>

<script type="text/javascript">
	$('.parallax').parallax({
	speed : 0.3
	});
</script>
