
<section class="featured">
	<div class="container">
		<div class="mar-top70">
			<div class="align-center">
				<h2 class="header">Join the Beebsy Network</h3>
        <h3 class="tagline">It's easy and it's free</h3>
			</div>
		</div>
	</div>
</section>

		<!-- services -->
<section id="section-services" class="section pad-bot30 bg-white">
	<div class="container">
		<div class="row mar-bot40">
			<div class="col-md-4" >
				<div class="align-center">
          <i class="fa fa-pencil-square-o fa-5x mar-bot20"></i>

					<h4 class="text-bold">1. Sign Up</h4>
					<p>
						All you need is a verifiable email address. When you sign up, we'll send you a confirmation email. Once you verify your address, you're good to go!
					</p>
				</div>
			</div>
			<div class="col-md-4" >
				<div class="align-center">
					<i class="fa fa-newspaper-o fa-5x mar-bot20"></i>
					<h4 class="text-bold">2. Add Your Information</h4>
					<p>
            We'll create a page for you based on the information you enter. You'll get your own website at www.beebsy.com/<i>your_daycare</i>. <a href="/yourdaycare" target="_blank">Click here</a> to see a sample.
					</p>
				</div>
			</div>
			<div class="col-md-4" >
				<div class="align-center">
					<i class="fa fa-male fa-5x mar-bot20"></i>
          <i class="fa fa-child fa-3x mar-bot20"></i>
          <i class="fa fa-female fa-5x mar-bot20"></i>
					<h4 class="text-bold">3. Connect With Families</h4>
					<p>
						Your information will be available to parents when they search for daycares in their area. They'll be able to view your website and contact you through your page.
					</p>
				</div>
			</div>
		</div>
    <div class="align-center">
      <%= link_to "SIGN ME UP", new_user_registration_path, class: 'btn btn-lg btn-primary' %>
    </div>
	</div>
</section>
