<div class="jumbotron">
  <h1>Find a daycare near you</h1>
  <%= form_tag(search_results_path, :method => "get", id: "search-form") do %>
    <div class="input-append col-md-6 col-md-offset-3">
      <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Enter address or zip code", id: "search-text-field" %>
      <button class="btn btn-default" type="submit"><i class="icon-search"></i>Submit</button>
    </div>
  <% end %>
</div>
