<div class="panel-daycare-edit">
  <div class="panel panel-default">
    <a id="daycare-edit-contact" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseContact" aria-expanded="false" aria-controls="collapseContact">
      <div class="panel-heading" role="tab" id="headingThree">
        <h4 class="panel-title">
            <div id="contact-add-edit-glyph">
              <%= render 'contacts/add_edit_glyph' %>
            </div>
          Contact
        </h4>
      </div>
    </a>
    <div id="collapseContact" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div id="contact-edit-form" class="panel-body">
        <%= render 'contacts/form' %>
      </div>
    </div>
  </div>
</div>
