<div class="container">
  <div class="main-nav-content">
      <div class="align-center">
        <h2>Daycare Contact</h2>
        3 of 10
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <p>
            Enter the email where you'd like parents to contact you. We won't display this email on your page, but parents can fill out a form and the message will go directly to this email. This is separate from your log in email.
          </p><br>

          <%= render 'form' %>

        </li>
      </ul>
      <%= link_to 'Back to Edit Page', edit_user_daycare_path(current_user, current_user.daycare) %>
  </div>
</div>
