<% if @daycare.certifications.any? %>
  <span class="glyphicon glyphicon-pencil daycare-edit-glyph pull-right"></span>
<% else %>
  <span class="glyphicon glyphicon-plus daycare-add-glyph pull-right"></span>
<% end %>
