<% if @daycare.certifications.any? %>
  <div class="row mar-bot40">
    <div class="col-md-offset-3 col-md-6">
      <div class="section-header">
        <h2 class="section-heading animated" data-animation="bounceInUp">Certifications</h2>
        <p></p>
      </div>
    </div>
  </div>

  <% @certifications.each_with_index do |certification, index| %>
    <% if index%4 === 0 %>
      <div class="row">
    <% end %>
    <div class="col-sm-3" >
      <div class="align-center">
        <div class="cert-container">
          <div class="img-cert" style="background-image:url(<%= certification.image.url %>)">
          </div>
        </div>
        <h4 class="text-bold"><%= certification.name %></h4>
        <p>
          <%= simple_format h certification.description %>
        </p>
      </div>
    </div>
    <% if index%4 == 3 %>
      </div>
    <% end %>
  <% end %>
<% end %>
