<div class="panel-daycare-edit">
  <div class="panel panel-default">
    <a id="daycare-edit-teacher" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTeacher" aria-expanded="false" aria-controls="collapseTeacher">
      <div class="panel-heading" role="tab" id="headingEight">
        <h4 class="panel-title">
          <div id="teacher-add-edit-glyph">
            <%= render 'teachers/add_edit_glyph' %>
          </div>
          Teachers
        </h4>
      </div>
    </a>
    <div id="collapseTeacher" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
      <div class="panel-body">
        <span id="teacher-edit-list"></span>
          <%= render 'teachers/teacher_list' %>
        </span>
        <h4>Add a Teacher</h4>
        <span id="teacher-edit-form">
          <%= render 'teachers/form' %>
        </span>
      </div>
    </div>
  </div>
</div>
