<div class="panel-daycare-edit">
  <div class="panel panel-default">
    <a id="daycare-edit-teacher" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
      <div class="panel-heading" role="tab" id="headingEight">
        <h4 class="panel-title">
          <div id="teacher-add-edit-glyph">
            <%= render 'teachers/add_edit_glyph' %>
          </div>
          Teachers
        </h4>
      </div>
    </a>
    <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
      <div id="teacher-edit-form" class="panel-body">
        <%= render 'teachers/teacher_edit' %>
      </div>
    </div>
  </div>
</div>
