<div class="panel-daycare-edit">
  <div class="panel panel-default">
    <a id="daycare-edit-teacher" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
      <div class="panel-heading" role="tab" id="headingFive">
        <h4 class="panel-title">
          <div id="teacher-add-edit-glyph">
            <%= render 'teachers/add_edit_glyph' %>
          </div>
          Teachers
        </h4>
      </div>
    </a>
    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
      <div id="teacher-edit-form" class="panel-body">
        <%= render 'teachers/form' %>
      </div>
    </div>
  </div>
</div>
