<div class="panel-daycare-edit">
  <div class="panel panel-default">
    <a id="daycare-edit-teacher" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
      <div class="panel-heading" role="tab" id="headingSeven">
        <h4 class="panel-title">
          <div id="teacher-add-edit-glyph">
            <%= render 'teachers/add_edit_glyph' %>
          </div>
          Teachers
        </h4>
      </div>
    </a>
    <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
      <div id="teacher-edit-form" class="panel-body">
        <%= render 'teachers/teacher_edit' %>
      </div>
    </div>
  </div>
</div>
