<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingTwo">
    <h4 class="panel-title">
      <a id="daycare-edit-address" class="collapsed pull-right" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        <div id="contact-add-edit-glyph">
          <%= render 'addresses/add_edit_glyph' %>
        </div>
      </a>
      Address
    </h4>
  </div>
  <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
    <div id="contact-edit-form" class="panel-body">
      <%= render 'addresses/form' %>
    </div>
  </div>
</div>
