<div class="panel-daycare-edit">
  <div class="panel panel-default">
    <a id="daycare-edit-address" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseAddress" aria-expanded="true" aria-controls="collapseAddress" class="collapsed">
      <div class="edit-section panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <div id="address-add-edit-glyph">
            <%= render 'addresses/add_edit_glyph' %>
          </div>
          Address
        </h4>
      </div>
    </a>
    <div id="collapseAddress" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div id="address-edit-form" class="panel-body">
        <%= render 'addresses/form' %>
      </div>
    </div>
  </div>
</div>
