<div class="container">
  <div class="main-nav-content">
      <div class="align-center">
        <h2>Daycare Address</h2>
        2 of 10
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <p>
            Enter the address of your daycare. We'll use this address to display your daycare on the map when users search for daycares in their area.
          </p><br>
          <%= render 'form' %>
        </li>
      </ul>
      <%= link_to 'Back to Edit Page', edit_user_daycare_path(current_user, current_user.daycare) %>
  </div>
</div>
