<div class="container">
  <div class="main-nav-content">
      <div class="align-center">
        <h2>General Information</h2>
        4 of 10
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <p>
            This information will be displayed on your page. Parents will also be able to use this information when they search for daycares.
          </p><br>

          <%= render 'form' %>

        </li>
      </ul>
      <%= link_to 'Back to Edit Page', edit_user_daycare_path(current_user, current_user.daycare) %>
  </div>
</div>
