// Place all the styles related to the certifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.media-left.media-top.media-cert {
  min-width: 200px;
  text-align: center;
}

.img-cert{
/* make it responsive */
max-width: 100%;
width:100%;
height:auto;
display:block;
/* div height to be the same as width*/
padding-top:100%;

/* Centering on image`s center*/
background-position-y: center;
background-position-x: center;
background-repeat: no-repeat;

/* it makes the clue thing, takes smaller dimention to fill div */
background-size: contain;

/* it is optional, for making this div centered in parent*/
margin: 20px auto;
top: 0;
left: 0;
right: 0;
bottom: 0;
}

.cert-container {
  margin-left: 50px;
  margin-right: 50px;
}
