// Place all the styles related to the daycares controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$light-blue: #29AAE2;

.header-profile {
  text-align: center;
  color: #fff;
  background: $light-blue;
  height: 4em;
}

.header-profile .intro-text .name {
  display: block;
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 3em;
  font-weight: 700;
}

.daycare-edit-glyph:hover,
.daycare-add-glyph:hover {
  color: gray;
}

a {
  text-decoration: none !important;
}

a > .panel-heading {
  background-color: #f5f5f5;
  // background-color: #E5ECFF; //light blue
}

.panel-heading:hover {
  // background-color: #BECEFF;
  background-color: #F3F3F3;
}

.daycare-edit-field {
  margin-bottom: 1em;
}

#daycare-edit-page {
  margin-top: 2em;
}

.panel-daycare-edit {
  margin-bottom: 0.4em;
}

.carousel.slide {
  max-width: 800px;
  margin: auto;
}

.carousel-inner{
  width:100%;
  max-height: 600px !important;
}
