// Place all the styles related to the daycares controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$light-blue: #29AAE2;

//--- profile page ---//
#daycare-profile-page {
  background: #F8F8F8;
  color: #555555;
}

//daycare name
.header-profile {
  text-align: center;
  color: #fff;
  background: $light-blue;
  height: 4em;
}

.header-profile .intro-text .name {
  display: block;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 3em;
  font-weight: 700;
}

.carousel.slide {
  margin: auto;
  min-width: 100%;
  box-shadow: 2px 2px 6px #B1B1B1;
}

.carousel-inner{
  min-width: 100%;
  margin-bottom: 2em;
}

.carousel .item {
  width: 100%; /*slider width*/
  max-height: 600px; /*slider height*/

}

.carousel .item img {
  width: 100%; /*img width*/
}

.row.daycare-profile-section {
  margin-left: 0;
  margin-right: 0;
  background-color: #fff;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px;
  box-shadow: 2px 2px 6px #B1B1B1;
  margin-bottom: 2em;
}

.daycare-profile-header {
  text-align: center;
  font-size: 3em;
  color: $light-blue;
  font-weight: 500;
  margin-bottom: 2%;
}

.daycare-profile-section-content {
  margin: 2% 3% 3% 3%;  //top right bottom left
}

.daycare-profile-section-list {
  margin-top: 2%;
  margin-bottom: 2%;
}

.daycare-profile-media {
  float: left;
  margin: 0.5em 1.5em 1em 0;
}

.row.daycare-profile-section-row {
  margin-left: 0;
  margin-right: 0;
}

.daycare-profile-thumbnail {
  border: none;
}

.daycare-profile-thumbnail-header {
  font-weight: 400;
  font-size: 2em;
  text-align: center;
}

.daycare-profile-thumbnail-img img{
  width: 100%;
}


//--- edit page ---//
#daycare-edit-page {
  margin-top: 2em;
}

.daycare-edit-glyph:hover,
.daycare-add-glyph:hover {
  color: gray;
}

a {
  text-decoration: none !important;
}

a > .panel-heading {
  background-color: #f5f5f5;
  // background-color: #E5ECFF; //light blue
}

.panel-heading:hover {
  // background-color: #BECEFF;
  background-color: #F3F3F3;
}

.daycare-edit-field {
  margin-bottom: 1em;
}

.panel-daycare-edit {
  margin-bottom: 0.4em;
}

.btn-file {
    position: relative;
    overflow: hidden;
    // float: right;
    width: 14.5em;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.label-image-upload {
  font-size: 1em;
  font-weight: normal;
}
