// Place all the styles related to the summaries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#daycare-profile-summary {
  text-align: center;
  color: #29AAE2;
  margin: 0.5em 1em;
  font-size: 2em;
  font-weight: 500;
}
