<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email and sign in through the link below:</p>
<% domain = @resource.sub('www', '') %>
<p><%= link_to 'Confirm my account', confirmation_url(domain, confirmation_token: @token) %></p>
