<div class="panel-daycare-edit">
  <div class="panel panel-default">
    <a id="daycare-add-image" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseImage" aria-expanded="false" aria-controls="collapseImage">
      <div class="edit-section panel-heading" role="tab" id="headingFive">
        <h4 class="panel-title">
          <div id="program-add-edit-glyph">
            <%= render 'images/add_edit_glyph' %>
          </div>
          Images
        </h4>
      </div>
    </a>
    <div id="collapseImage" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
      <div class="panel-body">
        <span id="image-add-list">
          <%= render 'images/image_list' %>
        </span>
        <h4>Add an Image</h4>
        <span id="image-add-form">
          <%= render "images/form" %>
        </span>
      </div>
    </div>
  </div>
</div>
