<div class="container main-nav-content">
  <div class="row">
      <div class="align-center">
        <h2>Images</h2>
        6 of 10
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <p>
            Upload pictures of your daycare and write a short description. They'll be displayed as a slideshow on your page.
          </p><br>

          <span id="image-add-list">
            <%= render 'images/image_list' %>
          </span>

          <%= render 'form' %>

        </li>
      </ul>
      <%= link_to 'Back to Edit Page', edit_user_daycare_path(current_user, current_user.daycare) %>
  </div>
</div>
