<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-body">
      <p>Your message has been sent. Thank you!</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
